:root {
	--primary: #0075a1; /* applies to spinner, form elements and links */
	--secondary: #004c6d; /* applies to header */
	--nav-background-color: #0d5d80;
	--nav-accent: #1a6a8d; /* applies to navigation borders and navigation item hover, focus and active state */ 
	--footer-color: #8aa9b7;
	--body-color: #333;
	--border-color: #ccc;
	--table-accent: #f5f5f5; /* applies to table row zebra-striping style */
}


body { 
  	margin: 0;
}

header {
	overflow: hidden;
	background-color: var(--secondary);
	position: fixed;
	width: 100%;
	height: 10%;
}

header a {
  	float: left;
  	padding: 12px;
}

header a > img {
	margin-top: 15%;
}

header a:hover {
  	background-color: var(--nav-accent);
}

header a.active {
  	background-color: var(--nav-accent);
}

.user_logout{
	float: right;
	color: white;
	display: flex;
	float: right;
	padding: 12px 30px;
}

.user_logout > h3{
	padding-right: 10%;
}

#img_logout {
	width: 100%;
	height: 100%;
	background: white;
	border-radius: 60%;
	margin-top: 10%;
	padding: 5%;
}

.topnav {
	background-color: var(--nav-background-color);
	position: fixed;
	left: 0%;
	top: 2%;
}

.topnav a {
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
  
.topnav a:hover {
	background-color: var(--nav-accent);
	color: white;
}
  
.topnav a.active {
	background-color: #4CAF50;
	color: white;
}
  
.topnav .icon {
	display: none;
}

hr{
	color: white;
	opacity: 0.1;
}

.title {
    position: fixed;
    left: 22%;
    width: 90%;
    top: 3%;
    color: white;
    font-size: 0.8em;
    font-family: 'Roboto';
}

#myNav > hr:nth-child(7), #myNav > a:nth-child(8) {
	visibility: hidden;
}

nav > footer{
	position: fixed;
	top: 95%;
	padding-left: 2%;
	color: white;
	opacity: 0.5;
}

#loader {
	position: fixed;
	left: 60%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
  
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
  
/* Add animation to "page content" */
.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
}
  
@-webkit-keyframes animatebottom {
	from { bottom:-100px; opacity:0 } 
	to { bottom:0px; opacity:1 }
}
  
@keyframes animatebottom { 
	from{ bottom:-100px; opacity:0 } 
	to{ bottom:0; opacity:1 }
}
