main {
    position: fixed;
    left: 23%;
    top: 11%;
    width: 75%;
}

.grid-container {
    display: grid;
    height: 350px;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    padding-top: 6%;
}
  
.grid-container > div {
    background-color: #2196F3;
    text-align: center;
    padding: 30px 0;
    padding-top: 0px;
    font-size: 1em;
    height: 70px;
    width: 181px;
}

.grid-container > div > div {
    height: 30px;
    width: 100%;
    background-color: black;
    opacity: 50%;
    position: relative;
    top: 80%;
}

.grid-container > div > div:hover {
    opacity: 100%;
}

.grid-container > div > p {
    filter: brightness(60%);
    font-family: 'Roboto Regular';
    font-weight: bold;
    margin-top: -15px;
}

#color_name{
    color:white;
    text-align: left;
    font-family: 'Roboto Regular';
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    position: relative;
    top: 17%;
}

.footer > p:nth-child(2) {
    position: absolute;
    top: 17%;
    color: white;
    right: 2%;
    margin-top: 0px;
}

