@media screen and (max-width: 599px)  {

    #myUsers {
        overflow-y: scroll;
        height: 100%;
        margin-left: 0px;
    }

    #myTable > tbody:nth-child(1) > tr:nth-child(1) {
        display: none; 
    }

    td, tr { display: block; }

    /* Hide table headers (but not display: none;, for accessibility) */

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    /* tr { border: 1px solid #E74C3C; } */

    tr { 
        margin-top: 20%; 
        padding-left: 10px;
        margin-right: 50px;
    }

    td {
        /* make like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align: left;
    }

    td:before {
        display: inline-block;
        line-height: 1.5;
        margin-left: -100%;
        width: 100%;
        white-space: nowrap;
    }

    #title {
        top: 10%;
        position: fixed;
    }

    main {
        overflow: auto;
        bottom: 0px;
    }
    td:nth-of-type(1):before { content: " "; }
    td:nth-of-type(2):before { content: "ID"; }
	td:nth-of-type(3):before { content: "LAST NAME"; }
	td:nth-of-type(4):before { content: "FIRST NAME"; }
	td:nth-of-type(5):before { content: "EMAIL"; }
	td:nth-of-type(6):before { content: "AVATAR"; }
}


@media screen and (max-width: 600px)  {

    table {
        margin-left: -30px;
    }

    .grid-container {
        grid-template-columns: auto auto;
        height: 500px;
    }
}

@media screen and (max-width: 700px) {

    .user_logout {
        display: none;
    }
	.topnav a:not(:first-child) {
		display: none;
	}

	.topnav a.icon {
        display: block; 
        right: 2.5%;
        position: fixed;
	}

	.topnav.responsive {
		position: absolute;
		left:0;
		top:10%;
		width: 100%;
	}

	.topnav.responsive .icon {
	    position: fixed;
	    right: 2.2%;
	    top: 2%;
	}

	.topnav.responsive a {
	    float: none;
	    display: block;
	    text-align: left;
    }
    
    .title{
        position: fixed;
        left: 40%;
    }

    #myNav > hr:nth-child(7), #myNav > a:nth-child(8) {
        visibility: visible;
    }

    main {
        left: 10%;
    }
}


@media screen and (min-width: 701px)  {

    .topnav {
        background-color: var(--nav-background-color);
        left: 0%;
        top: 10%;
        padding-top: 5%;
        height: 100%;
        width: 22%;
    }

    table {
        margin-left: -30px;
    }

    main {
        left: 24%;
    }

    .grid-container > div{
        width: 150px;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1200px)  {

    /* .topnav {
        background-color: var(--nav-background-color);
        left: 0%;
        top: 10%;
        padding-top: 5%;
        height: 100%;
        width: 22%;
    }

    table {
        margin-left: -30px;
    }

    main {
        left: 24%;
    } */

    .grid-container > div{
        width: 260px;
    }
}