#title {
    /* left: 4%; */
    position: absolute;
}

#sub-title,#delete-btn {
    position: fixed;
    top: 0%;
    left: 85%;
}

#delete-btn {
    top: 13%;
    color: white;
    background-color: #008CBA;
    font-weight: bold;
    padding: 10px 21px;
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    position: absolute;
    margin-top: 10%;
    left: 3%;

}
  
td, th {
    text-align: left;
    padding: 8px;
}
  
tbody>tr:nth-child(even) {
    background-color: #f5f5f5;
}

thead{
    display: table-caption;
}
